asgiref==3.8.1
boto3==1.35.97
botocore==1.35.97
dj-database-url==2.3.0
Django==5.1.4
django-ckeditor==6.7.2
django-js-asset==3.0.1
django-storages==1.14.4
gunicorn==23.0.0
jmespath==1.0.1
mysqlclient==2.2.7
numpy==2.2.1
packaging==24.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
s3transfer==0.10.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
