{% extends 'base/base.html' %}
{% block title %}
    إدارة مصاريف 
{% endblock %}
{% block content %}

    <div class="container mt-5">
        <!-- Page Header -->
        <div class="text-center mb-4">
            <h1>إدارة مصاريف </h1>
            <p>قم بإضافة المصاريف الصيانة </p>
        </div>

        <!-- Display error if there's a problem -->
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <!-- Expense Entry Form -->
        <div class="card mb-4">
            <div class="card-header text-center">
                <h4>إضافة مصروف جديد</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">العنوان</label>
                        <input class="form-control" id="title" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">تاريخ المصروف</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                  
                    <div class="mb-3">
                        <label for="description" class="form-label">الوصف</label>
                        <textarea class="form-control" id="description" name="description" rows="2" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">المبلغ</label>
                        <input type="number" step="0.01" class="form-control" id="amount" name="amount" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">إضافة المصروف</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Table Displaying Expenses -->
        
    </div>


{% endblock %} 